<section class="content-grid">

    <h1>Contact Us</h1>
    <p>At Kala Tech, we’re always here to help. Whether you have questions about our services, need technical support, or want to discuss how we can help your business grow, feel free to reach out. Our team is ready to assist you with any inquiries or requests.</p>

    <h2>Business Hours</h2>
    <p>We’re available Monday through Friday from 9 AM to 5 PM. If you contact us outside of business hours, we’ll get back to you as soon as possible.</p>

    <h2>Contact Form</h2>
    <p>Have a specific question or need assistance? Fill out the form below and we’ll get back to you shortly:</p>
    <form name="contact" method="POST" data-netlify="true">
        <label for="name">Name:</label><br>
        <input type="text" id="name" name="name" required>
        <label for="email">Email:</label><br>
        <input type="email" id="email" name="email" required>
        <label for="message">Message:</label><br>
        <textarea id="message" name="message" rows="4" required></textarea>
        <app-button buttonType="submit" variant="outline">Submit</app-button>
    </form>

</section>