:root {
  --input-bg: var(--off-background);
}

.ng-select.custom {
  background-color: var(--input-bg);
  padding: var(--space-2);
  border: 0px;
  min-height: 0px;
  border-radius: 0;
}
.ng-select.custom .ng-select-container {
  min-height: 0px;
  border-radius: 0;
}

.ng-dropdown-panel {
  background-color: var(--input-bg);
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
  display: block;
  width: 100%;
  background-color: var(--input-bg);
  border: 0px;
  border-radius: var(--br-2);
  padding: var(--space-2);
  color: var(--foreground);
  font-size: var(--fs-1);
  margin-bottom: var(--space-2);
  &:focus {
    transition: 400ms cubic-bezier(0.165, 0.84, 0.44, 1);
    outline: none;
    box-shadow: var(--shadow-1);
  }
}

button {
  // background-color: var(--foreground);
  // border: 0px;
}