<section class="content-grid">
    <h2>Portfolio</h2>

    <h3 class="text-center">Punch Town</h3>
    <img src="punch_town.jpg" alt="Punch Town Boxing Club Website" class="portfolio-image">
    <div class="text-center"><a href="https://punch.town/home">visit the website</a></div>
    <p>The good folk over at Punch Town Boxing club opened their doors to the boxers of metro Detroit in the fall of 2023, but they didn't have a website!</p><p>Kala Tech got their domain and website up and running in just a couple of weeks. They were able to use our expertise to create a professional, modern website that would attract more boxers to their club. Their website is now a hit with the community, and they're excited to continue growing their business.</p> 

    <hr />

    <h3 class="text-center">Harold and Marzetta V. Jones Memorial Scholarship Charity</h3>
    <img src="harold_and_marzetta.jpg" alt="Harold and Marzetta V. Jones Memorial Scholarship Charity Website" class="portfolio-image">
    <div class="text-center"><a href="https://haroldandmarzetta.org/home">visit the website</a></div>

    <p>Working with a local charity is an ideal client for Kala Tech.</p>
    <p>The Harold and Marzetta V. Jones Memorial Scholarship Charity is a non-profit organization that provides scholarships to deserving students from Detroit's public schools. Their mission is to ensure that every student has the opportunity to pursue their dreams and reach their full potential.</p>
    <p>Kala Tech was able to help the charity by designing a website that would effectively communicate their mission and showcase their scholarship opportunities.</p>

    <hr />

    <h3 class="text-center">Web Dev 101</h3>
    <img src="web-dev-101.png" alt="Web Dev 101 Website" class="portfolio-image">
    <div class="text-center"><a href="https://web-dev-101.deno.dev/">visit the website</a></div>
    <p>Web Dev 101 is an ongoing project that Kala Tech authors in order to provide what we believe is the best path for learning web development.</p><p>It follows our own custom curriculum that is designed to be beginner-friendly and covers the basics of HTML, CSS, and JavaScript.</p>

</section>